<p>side-menu works!</p>
<div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
  <a href="/" class="d-block p-3 link-dark text-decoration-none" title="Icon-only" data-bs-toggle="tooltip"
    data-bs-placement="right">
    <i class="fa-solid fa-house">
     
    </i>
  </a>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a href="#" class="nav-link active py-3 border-bottom" aria-current="page" title="Home" data-bs-toggle="tooltip"
        data-bs-placement="right">
        <svg class="bi" width="24" height="24" role="img" aria-label="Home">
          <use xlink:href="#home" />
        </svg>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom" title="Dashboard" data-bs-toggle="tooltip"
        data-bs-placement="right">
        <svg class="bi" width="24" height="24" role="img" aria-label="Dashboard">
          <use xlink:href="#speedometer2" />
        </svg>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom" title="Orders" data-bs-toggle="tooltip" data-bs-placement="right">
        <svg class="bi" width="24" height="24" role="img" aria-label="Orders">
          <use xlink:href="#table" />
        </svg>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom" title="Products" data-bs-toggle="tooltip"
        data-bs-placement="right">
        <svg class="bi" width="24" height="24" role="img" aria-label="Products">
          <use xlink:href="#grid" />
        </svg>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom" title="Customers" data-bs-toggle="tooltip"
        data-bs-placement="right">
        <svg class="bi" width="24" height="24" role="img" aria-label="Customers">
          <use xlink:href="#people-circle" />
        </svg>
      </a>
    </li>
  </ul>

</div>
