<div class="container" style="margin-top: 20px;">
  <div class="row align-items-center">

    <div class="col-auto">
      <span><strong>Descrição</strong></span>
    </div>

  </div>

  <form method="post" novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
    <div class="form-inline">
      <div class="row">
        <div class="col col-sm-12 col-md-12 col-lg-12">
          <div class="form-group mb-2 was-validated">
            <input class="form-control" type="text" name="search" placeholder=""
              [(ngModel)]="service.formDataClasse.descricao" required />
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto" style="text-align: right;">
      <button type="submit" class="btn btn-success" [disabled]="form.invalid">
        <i class="fas fa-plus"></i><span style="margin-left: 10px;">Salvar</span>
      </button>
    </div>

    <form action="" class="form-inline">
      <div class="form-group mb-4"></div>
    </form>

    <table class="table table-secondary table-striped">
      <thead class="thead-dark">
        <tr>
          <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Código</th>
          <th class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Descrição</th>
          <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="text-align: center;">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-secondary">
          <td><input class="form-control" type="text" placeholder="Código" [(ngModel)]="filterTerm"
              [ngModelOptions]="{standalone: true}"></td>
          <td><input class="form-control" type="text" placeholder="Descrição" [(ngModel)]="filterTerm2"
              [ngModelOptions]="{standalone: true}"></td>
          <td></td>
        </tr>
        <tr
          *ngFor="let classe of service.listClasse | filter: filterTerm | filter: filterTerm2 | paginate: { itemsPerPage: 6, currentPage: p, totalItems: total }">
          <td>{{classe.id}}</td>
          <td>{{classe.descricao}}</td>
          <td>
            <button (click)="clicarPreencher(classe)" (click)="open(modalObjEdit)" type="button"
              class="btn btn-sm btn-outline-primary btnAction m-1">
              <i class="fas fa-pen"></i>
            </button>

            <button (click)="openModal(template)" (click)="onSelect(classe)" method="put" type="button"
              class="btn btn-sm btn-outline-danger btnAction">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
  </form>
</div>

<ng-template #modalObjEdit let-modal [formGroup]="objetoForm">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar</h4>
    <button type="button" class="btn btn-outline-danger" (click)="resetObj()" (click)="modal.dismiss('Cross click')">
      X
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="exampleTextarea" class="form-label sm-2">Descrição</label>
      <textarea class="form-control" id="exampleTextarea" rows="3" style="height: 103px;" formControlName="descricao"
        [(ngModel)]="service.formDataClasse.descricao"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.close('Save click')"
      (click)="updateRecord()">Editar</button>
  </div>
</ng-template>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja INATIVAR o registro?</p>
    <button type="button" class="btn btn-default" (click)="deleteLogico(this.service.formDataClasse)"
      (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
  </div>
</ng-template>
